@charset "utf-8";


@media (min-width: 768px) {

    #wrap,
    #contents {
        width: 768px;
        margin: 0 auto;
    }
}


body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    font-family: 'BrownTT', 'NotoSansKR', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: normal;
    color: #111;
}

#wrap {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}

#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #EAEAEA;
    height: 56px;
    z-index: 20;
    transition: 0.5s;
}

#header.trans {
    background: rgba(255, 255, 255, 0);
    border: 0;
}

#header.scroll {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #EAEAEA;
}

#header.white {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: 0;
}

#contents {
    position: relative;
    padding-bottom: 40px;
}

#footer {
    /*    margin-top: 40px;*/
    padding: 24px 16px 16px 16px;
    position: relative;
    background: #F0F0F0;
    border-top: 1px solid #E0E0E0;
    z-index: 2;
    font-size: 13px;
    color: #707070;
}



/**Common**************/
a {
    text-decoration: none;
    color: #111;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.hidden-text {
    display: inline-block;
    text-indent: -9999px;
}

.left,
.right {
    display: inline-block;
}

.divider {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #CCC;
}

.open {
    display: block !important;
}

.linebtn--white {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #F6F5E8;
    color: #F6F5E8;
    text-decoration: none;
    cursor: pointer;
}

.linebtn--black {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #CCC;
    text-decoration: none;
    cursor: pointer;
}





/**Header - white**************/
#header.white>.hd__menu>.hd__logo>a {
    background: url(../images/daab-ci-white.svg) center no-repeat;
}

#header.white>.hd__menu>.hd__btn>.btn-menu>a {
    background: url(../images/ic-menu-white.svg) center no-repeat;
    background-size: 20px;
}

#header.white>.hd__menu>.hd__btn>.btn-back>a {
    background: url(../images/ic-back-white.svg) center no-repeat;
    background-size: 20px;
}

#header.white>.hd__menu>.hd__btn>.btn-search>a {
    background: url(../images/ic-search-white.svg) center no-repeat;
    background-size: 20px;
}

#header.white>.hd__menu>.hd__btn>.btn-cart>a {
    background: url(../images/ic-cart-white.svg) center no-repeat;
    background-size: 20px;
}

/**Header**************/
.hd__menu {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    max-width: 768px;
    height: 56px;
    z-index: 10;
    padding: 10px 12px;
    margin: 0 auto;
    box-sizing: border-box;
}

.hd__logo {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 56px;
    width: 50%;
}

.hd__logo>a {
    display: block;
    width: 100%;
    height: 32px;
    margin: 12px 0;
    background: url(../images/daab-ci.svg) center no-repeat;
    background-size: contain;
}


/*.hd__btn{height: 40px;}*/
.hd__btn>div {
    display: inline-block;
    width: 36px;
    height: 36px;
    /*    padding: 10px 0;*/
    margin: 0;
}

.hd__btn>div>a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 20px;
}

.btn-menu>a {
    background: url(../images/ic-menu.svg) center;
}

.btn-back>a {
    background: url(../images/ic-back.svg) center;
}

.btn-close>a {
    background: url(../images/ic-close.svg) center;
}

.btn-search {
    margin-right: 8px;
}

.btn-search>a {
    background: url(../images/ic-search.svg) center;
}

.btn-cart>a {
    background: url(../images/ic-cart.svg) center;
    position: relative;
}

.cart-count {
    position: absolute;
    top: 0;
    left: 18px;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    background: #FD9B27;
    color: #FFF;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    min-width: 8px;
    height: 16px;
    line-height: 0.8em;
}





/**Footer**************/
.footer__wrap {
    max-width: 768px;
    margin: 0 auto;
}

.ft__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sq {
    display: inline-block;
    padding: 5px 12px;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid #CCC;
    background: #fff;
    text-decoration: none;
    color: #707070;
}

.btn-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.ic-kakao {
    background: url(../images/ic-kakao.svg);
}

.ic-insta {
    background: url(../images/ic-insta.svg);
}

.ic-youtube {
    background: url(../images/ic-youtube.svg);
}

.ft__company {
    margin-top: 20px;
}

.cp-name {
    padding-bottom: 12px;
    border-bottom: 1px solid #CCC;
    vertical-align: bottom;
    cursor: pointer;
}

.ic-fold__up {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 4px;
    background: url(../images/ic-fold.svg) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.ft__company>.active>.ic-fold__up {
    transform: rotate(0deg);
}

.cp-info {
    display: none;
    padding-top: 12px;
    border-bottom: 1px solid #CCC;
}

.cp-info>dl {
    padding: 0 8px;
}

.cp-info>dl>dt {
    display: inline-block;
    width: 25%;
}

.cp-info>dl>dd {
    display: inline-block;
    width: 72%;
    padding-bottom: 8px;
    color: #505050;
    line-height: 1.1rem;
}

.cp-info>dl>dd:last-child {
    padding-bottom: 12px;
}

dt+dd {
    vertical-align: top;
}

.ft__rights {
    margin-top: 16px;
}

.ft__rights>ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.ft__rights>ul>li {
    margin-right: 12px;
}

.ft__rights>ul>.li-divider {
    margin-right: 12px;
    font-size: 10px;
    color: #CCC;
}

.terms {
    position: relative;
    text-decoration: none;
    color: #707070;
}

#TopBtn {
    opacity: 0;
    display: none;
    position: sticky;
    position: -webkit-sticky;
    bottom: 16px;
    width: 100%;
    z-index: 20;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.btn-totop {
    position: absolute;
    right: 16px;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../images/btn-totop.svg) center no-repeat;
    background-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
}



.animation {
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.fadein {
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeout {
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeup {
    animation-name: fadeUp;
}

@-webkit-keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeleft {
    animation-name: fadeLeft;
}

@-webkit-keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.faderight {
    animation-name: fadeRight;
}

@-webkit-keyframes fadeRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}



/**Basic box banner*********/
.basic-box {
    clear: both;
    margin: 0 16px;
}

.service {
    width: 100%;
    height: 100%;
    background: #F6F5E8;
    margin-top: 48px;
}

.service__img>img {
    width: 100%;
}

.service__text {
    padding: 20px 16px;
}

.service-title {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 300;
    margin-bottom: 8px;
}

.service-desc {
    position: relative;
    color: #666;
    margin-bottom: 40px;
}

.service-more {
    display: inline-block;
    color: #666;
    text-decoration: none;
}

.single-banner {
    margin-top: 32px;
}

.single-banner img {
    width: 100%;
    height: 100%;
}

.atoz {
    width: 100%;
    height: 100%;
    background: #EAEAEA;
}

.atoz__img>img {
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}




/**PRD__LIST*********/
.prd__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.prd__list>li {
    display: inline-block;
}

.list__pkg {
    width: 100%;
}

.list__single {
    width: 49%;
    float: left;
    margin-right: 2%;
}

.list__single:nth-child(2n) {
    margin-right: 0;
}

.btn-view {
    display: block;
    width: 100%;
    height: 48px;
    color: #111;
    border: none;
    background: #fff;
}

/**PRD__LIST**PKG Swiper*******/
.list__swiper {
    position: relative;
    display: block;
    width: 100%;
    /*background: #F5F5F5;*/
}

.list__swiper::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.list__swiper--wrap {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 84%;
    overflow: hidden;
}

.img-wrap {
    float: left;
    display: inline-block;
    width: 10000px;
    height: 100%;
}

.img-wrap>img {
    height: 100%;
}

.list__swiper--control {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
}

.pager {
    display: flex;
    justify-content: center;
}

.pager-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #CCC;
    margin-right: 8px;
}

.pager-item:last-child {
    margin-right: 0;
}

.pager>.active {
    width: 18px;
    background: #245217;
}

/**PRD__LIST**Single Img*******/
.list__single--img {
    position: relative;
    display: block;
    width: 100%;
}

.list__single--img>img {
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
}

/**PRD__LIST**Info*******/
.list__info {
    width: 100%;
    height: 130px;
}

.list__info--brand {
    font-size: 0.9em;
    color: #999;
    padding: 8px 0 4px 0;
}

.list__info--name {
    font-weight: bold;
    line-height: 1.0em;
    font-size: 1.2em;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list__info--price {
    font-size: 0.9em;
    padding: 4px 0;
}

.list__info--color {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list__info--color>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.color-black {
    background: #000;
}

.color-white {
    background: #FFF;
    border: 1px solid #CCC;
    box-sizing: border-box;
}


/**Overlay Menu**/
.overlay {
    position: relative;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    background-color: #1F3A2F;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    max-height: 67%;
    overflow: scroll;
    text-align: center;
}

.overlay-content a {
    color: #fff;
    text-align: left;
    padding-left: 40px;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    font-size: 3em;
    text-align: center;
    color: #fff;
}

a.menu {
    font-size: 2em;
    font-weight: 600;
    font-weight: 600;
    line-height: 64px;
}

.menu-dropdown {
    font-size: 2em;
    color: #fff;
    font-weight: 600;
    display: block;
    border: none;
    background: none;
    width: 100%;
    padding-left: 40px;
    line-height: 64px;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.menu-dropdown:hover {
    color: #f1f1f1;
}

.menu-active {
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
}

.dropdown-list {
    display: none;
    margin-bottom: 16px;
}

.dropdown-list>li {
    line-height: 40px;
}

.dropdown-list>li>a {
    font-size: 1.6em;
    font-weight: normal;
    padding-left: 60px;
}

.overlay-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.overlay-footer>li {
    width: 100%;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.overlay-footer>li:first-child {
    border-left: 0;
}

.overlay-footer>li>a {
    font-size: 1.1em;
    line-height: 56px;
    color: #fff;
    text-align: center;
}



/**Overlay Search**/
/* The overlay effect with black background */
.search-back {
    height: 400px;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 29;
    top: 56px;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.9);
}

.search-box {
    position: relative;
    top: 5%;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
    text-align: center;
}

.search-box form {
    display: flex;
    border-bottom: 1px solid #A0A0A0;
}

.search-back input[type=text] {
    border: none;
    width: 100%;
    height: 50px;
    padding: 0 12px;
    background: #FFF;
}

.search-back input[type=text]:focus {
    outline: none;
}

.search-back button {
    width: 50px;
    ;
    padding: 15px;
    background: url(../images/ic-search.svg) center #FFF no-repeat;
    background-size: 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}

.search-back .closebtn {
    position: absolute;
    bottom: -48px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    height: 40px;
    background: url(../images/ic-close.svg) center #CCC no-repeat;
    background-size: 20px;
}

.search-word {
    margin-top: 24px;
    padding: 32px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.search-word>p {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
}

.word-wrap>li {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 4px 6px;
    border: 1px solid #EAEAEA;
    background: rgba(36, 82, 23, 0.08);
}

.word-wrap>li>a {
    color: #707070;
}


/**회원가입**/
.signup__box {
    position: relative;
    margin: 48px 0 0;
}

.signup-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border: 1px solid #CCC;
    text-align: center;
}

.mail-icon {
    display: inline-block;
    width: 20px;
    height: 45px;
    margin: 0 8px 3px 0;
    background: url(../images/ic-mail.svg) center no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.signup-form {
    padding: 24px 0 0;
    background: #FFF;
}

.signup-form>div:first-child {
    margin-bottom: 40px;
}

.signup-form>div {
    position: relative;
    margin-bottom: 24px;
}

.signup-form>div:last-child {
    margin-bottom: 0;
}

.confirm-mail {
    position: relative;
}

.signup-form .find-input {
    width: 100%;
    height: 48px;
    padding: 0 8px;
    border: 0;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    box-sizing: border-box;
}

.signup-form .find-input:focus {
    outline: none;
    border-bottom: 1px solid #FD9B27
}

.inner-input {
    border: 0;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    padding: 0 8px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
}

.inner-input:focus {
    outline: none;
    border-bottom: 1px solid #FD9B27
}

.msg--good {
    position: absolute;
    left: 0;
    bottom: -24px;
    display: inline-block;
    width: 100%;
}

.form-title {
    margin: 24px 0;
}

input[type=checkbox].ic-psw {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}

input[type=checkbox].ic-psw+label {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(../images/ic-psw-show.svg) center no-repeat;
    background-size: 24px;
}

input[type=checkbox].ic-psw:checked+label {
    background: url(../images/ic-psw-hidden.svg) center no-repeat;
    background-size: 24px;
}

/**이용약관 양식**/
.terms__title {
    text-align: center;
    line-height: 56px;
    font-size: 1.3em;
    font-weight: bold;
    width: 70% !important
}

.terms-wrap {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.terms-wrap h2 {
    margin: 16px 0;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.3em;
}

.terms-wrap h3 {
    margin-bottom: 8px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.3em;
}

.terms-wrap b {
    font-weight: bold;
}


/**로그인**/
.login-wrap {
    padding: 40px 16px 64px;
}

.login-form {
    margin-top: 24px;
}

.login-form>div {
    position: relative;
    margin-bottom: 24px;
}

.login-form>div:last-child {
    margin-bottom: 0;
}

.login-form .field-text,
.login-form>input[type=text],
.login-form>input[type=password],
.login-form>input[type=num] {
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding: 0 8px;
    border: 0;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
}

.login-form .field-text,
.login-form>input[type=text]:focus,
.login-form>input[type=password]:focus,
.login-form>input[type=num]:focus {
    outline: none;
    border-bottom: 1px solid #FD9B27
}

.login-sub {
    margin: 16px 0;
}

input[type=checkbox].remember {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}

input[type=checkbox].remember+label {
    display: inline-block;
    width: 100%;
    height: 18px;
    background: url(../images/box-noncheck.svg) no-repeat;
    background-size: contain;
    text-indent: 24px;
}

input[type=checkbox].remember:checked+label {
    background: url(../images/box-checked.svg) no-repeat;
    background-size: contain;
}

.sns-wrap {
    padding: 24px 16px 64px;
}

.sns__box {
    margin-bottom: 48px;
}

.login__box>p {
    text-align: center;
}

.login__box>p>a {
    color: #245217;
    font-weight: bold;
    display: inline-block;
    margin: 0 8px;
}

.signin__box {
    position: relative;
    margin: 40px 0 0;
}

.login--error {
    position: absolute;
    left: 0;
    top: -28px;
    display: inline-block;
    width: 100%;
    background: url(../images/ic-tooltip-red.svg) left no-repeat;
    background-size: 14px;
    text-indent: 16px;
}



/**계정찾기**/
.tab__email {
    padding: 24px 0 0;
}

.tab__email .find-input {
    width: 100%;
    height: 48px;
    padding: 0 8px;
    border: 0;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    box-sizing: border-box;
}

.tab__email .find-input:focus {
    outline: none;
    border-bottom: 1px solid #FD9B27
}

.tab__email .code {
    border: 0;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    padding: 0 8px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
}

.tab__email .code:focus {
    outline: none;
    border-bottom: 1px solid #FD9B27
}

.phone {
    position: relative;
    height: 48px;
    margin-top: 16px;
}

.verification-code {
    position: relative;
    height: 48px;
    margin: 48px 0 16px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #CCC;
}

.verification-code .time {
    width: 80px;
    text-align: center;
}

.resend {
    position: absolute;
    right: 0;
    bottom: -50%;
    background: none;
    border: none;
    text-decoration: underline
}

button.code-require {
    border: 0;
    border-radius: none;
    background: #245217;
    color: #FFF;
    height: 48px;
    width: 100px;
}

.msg--error {
    position: absolute;
    left: 0;
    bottom: -24px;
    display: inline-block;
    width: 100%;
    background: url(../images/ic-tooltip-red.svg) left no-repeat;
    background-size: 14px;
    text-indent: 16px;
}

.tab__email--result,
.tab__pw--result {
    display: none;
    padding: 24px 0 0;
}

.result-text {
    text-align: center;
    margin: 56px 0;
}

p.margin {
    margin: 12px 0;
}

span.margin {
    display: block;
    margin: 12px 0 0;
}

.tab__pw {
    padding: 24px 0 0;
}

.find-text {
    margin-bottom: 40px;
}

.tab__pw .email {
    position: relative;
    margin-bottom: 40px;
}

.tab__pw .email .find-input {
    width: 100%;
    height: 48px;
    padding: 0 8px;
    border: 0;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    box-sizing: border-box;
}

.tab__pw .email .find-input:focus {
    outline: none;
    border-bottom: 1px solid #FD9B27
}

#toast-msg {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    width: 90%;
    line-height: 48px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    text-align: center;
}

#toast-msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

@-webkit-keyframes fadein {
    from {
        top: -30px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: -30px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}





/**레이어팝업 - 필수구조**/
.layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.layer::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: "";
}

.layer_wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.layer_inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dimmed {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 29;
}

.layer__back {
    position: relative;
    display: inline-block;
    width: 300px;
    min-height: 150px;
    background: #FFF;
    border-top: 4px solid #245217;
    padding-top: 12px;
    box-sizing: border-box;
    z-index: 30;
}

.layer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 16px;
}

.layer__top>span {
    color: #666;
}

button.close {
    width: 32px;
    height: 32px;
    background: url(../images/ic-close.svg) #FFF no-repeat;
    background-size: contain;
    border: 0;
    text-indent: -9999px;
}

/**레이어팝업 - 장바구니담았을때**/
.layer__cart {
    position: relative;
    width: 100%;
    margin: 0 auto 16px;
}

.cat__list-wrap {
    width: 168px;
    margin: 0 auto;
    overflow: hidden;
}

.cart__list {
    display: flex;
    justify-content: flex-start;
}

cart__list>li {
    display: inline-block;
    width: 168px;
    height: 278px;
    margin: 0;
    padding: 0;
}

.cart__item__img {
    height: 168px;
}

.cart__item__img>img {
    height: 100%;
}

.cart__item__info {
    text-align: center;
    padding-top: 12px;
}

.cart__item__info>p {
    color: #707070;
    line-height: 22px;
    font-size: 0.9em;
}

.cart__item__info>.name {
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
}

.swiper-btn {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.swiper-btn>button {
    width: 20px;
    height: 100%;
    border: 0;
    text-indent: -9999px;
}

button.prev {
    margin-left: 8px;
    background: url(../images/ic-toggle-white.svg) #999 no-repeat;
    background-size: 20px 40px;
    transform: rotate(180deg);
}

button.next {
    margin-right: 8px;
    background: url(../images/ic-toggle-white.svg) #999 no-repeat;
    background-size: 20px 40px;
}

.layer__single-btn {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid #CCC;
}

.layer__single-btn>button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFF;
}

.layer__ft-btn {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CCC;
}

.layer__ft-btn>button {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFF;
}

.layer__ft-btn>button:first-child {
    font-weight: 700;
    color: #245217;
}

.layer__ft-btn>button:last-child {
    border-left: 1px solid #CCC;
}

.confirm>button:last-child {
    font-weight: 700 !important;
    color: #245217 !important;
}

.confirm>button:first-child {
    border-left: 1px solid #CCC !important;
    font-weight: normal !important;
    color: #333 !important;
}

/**레이어팝업 - 툴팁아이콘눌렀을때**/
.layer__top>.point {
    font-size: 1.4em;
    font-weight: bold;
    color: #111;
}

.layer__text {
    padding: 32px 20px;
    text-align: left;
}

.layer__text>dl>dt {
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid #CCC;
}

.layer__text>dl>dd {
    color: #666;
    padding-top: 12px;
    width: 100%;
}

.layer__text ul {
    margin-left: 8px;
}

.layer__text ul li {
    list-style: disc;
}

.layer__text .f-sub {
    color: #707070;
}

.confirm-msg>p {
    margin-bottom: 16px;
}

.confirm-msg>ul {
    width: 100%;
    margin: 0;
}

.confirm-msg>ul>li {
    line-height: 24px
}


/**온보드**/
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* 404,500 Error page */
.notfound {position: relative; width: 100%; height: 100vh; }
.notfound div{position: absolute; top: 20%; left: 50%; right: 50%; transform: translate(-50%, 0); width: 100%; text-align: center; color: #707070}
.notfound img{width: 80%; margin-bottom: 24px;}
.notfound h2{font-size: 1.4em; font-weight: bold; margin-bottom: 12px;}
.notfound p{font-size: 0.9em;}
.notfound a{display: inline-block; margin-top: 100px; padding: 8px 16px; border-radius: 40px; border: 1px solid #245217; color: #245217;}

.orange{color:#FD9B27;}
.login-sub .forgotten:first-child{content: '';border-right:1px solid #ddd; padding-right:10px; margin-right:10px;}
.text-center{text-align: center;}
.ico-delete{display: inline-block;width:30px;height:30px;margin-left: 6px;border-radius: 4px; background:#fff url(https://icongr.am/clarity/trash.svg?size=20&color=6666666) no-repeat center;}
.policy--chapter{position:sticky !important;top:50px;}
:not(.policy--chapter:first-child)>.chapter-select{background: none !important;}
.about__tab__wrap{width:100%!important;margin: 16px 0 32px!important;padding-left: 10px;}

.overlay-header {position: absolute; top: 10px;left: 0px;display: flex;justify-content: space-between;width: 100%;}
.overlay-header>.logo{display: block;width: 100px;height: 34px;margin: 20px 30px;background: url(../images/daab-ci-white.svg) center no-repeat;background-size: contain;}
.overlay-header .notification {position: absolute;top: 15px;right: 60px;width: 48px;height: 48px;background:url(https://icongr.am/material/bell-outline.svg?size=30&color=ffffff) no-repeat 0;}
.overlay-header .notification>.check {display: inline-block;margin-left: 22px;border-radius:100%;width:6px;height: 6px;background:#FD9B27}
