/**브레드크럼**/
.item__breadcrumb{width: 100%; padding: 12px 16px 16px 16px;}
.page{position: relative; display: inline-block; float: left; padding-right: 8px; padding-left: 5px;}
.page:first-child{padding-left: 0;}
.page>a{font-size: 0.9em; color: #707070;}
.page>span{position: absolute; top: 7px; right: 2px; display: inline-block; width: 2px; height: 10px; transform: rotate(30deg); background:#CCC;}
.pages>.current>a{font-weight: bold; color: #4E6F43;}

/**상품기본정보**/
.item__info{padding: 16px;}
.item__name{margin-bottom: 4px; font-weight: bold; font-size: 1.7em; line-height: 1.2em; max-height: 90px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; word-break: break-all;}
.item__color{font-size: 0.9em; margin-bottom: 16px;}
.item__price{display: flex; justify-content: space-between; align-items: flex-end; margin: 24px 0 12px;}
.price--ntc{font-size: 0.9em; font-weight: 200; color: #999;}
.price--rent{font-size: 1.7em; font-weight: bold;}
.price--sub{display: inline-block; font-size: 0.53em; font-weight: 200;}
.price--month{font-weight: 500;}
/**상품기본정보 - 이미지**/
.single__swiper{position: relative; display: block; width: 100%; background: #F5F5F5; }
.single__swiper::after{content: ""; display: block; padding-bottom: 100%;}
.img-box{position: absolute; top: 5%; left: 5%;  width: 90%; height: 90%; overflow: hidden; }
.img-wrap{float: left; display: inline-block; width: 10000px; height: 100%;}
.img-wrap>img{height: 100%;}
.single__swiper--control{margin: 16px 0;}

/**구매버튼 바텀고정**/
.bottom-buttons{display: flex; justify-content: space-between; width: 100vw; height: 56px; margin: 0; padding: 0; z-index: 20;}
.bottom-button{width: 50%;}
.bottom-button>button{width: 100%; height: 100%; border: 0; color: #FFF; font-weight: bold; font-size: 1.15em;}
.secondary{background: #111;}
.primary{background: #245217;}
.sticky-btn{position: sticky; position: -webkit-sticky; bottom: 0;}

/**상품부가정보**/
.item__note{padding: 40px 24px 0; box-sizing: border-box;}
.note-title{width: 100%; height: 40px; background: url(../images/label-green.png) left center no-repeat; background-size: contain; font-size: 1.4em; line-height: 40px; color: #FFF; text-indent: 28px;}
.note-text{font-size: 0.9em; font-weight: 200; margin: 24px 16px 0;}

/**상품TAB**/
.shortcut__tab{display: flex; justify-content: space-between; height: 48px; margin-top: 16px; padding: 0;}
.shortcut__item{display: inline-block; width: 50%; line-height: 48px; border-bottom: 1px solid #EAEAEA; text-align: center; color: #999;}
.shortcut__tab > .current{font-weight: bold; color: #245217; border-bottom: 3px solid #245217;}
.item__detail,.item__rental{padding: 16px; margin-bottom: 40px; box-sizing: border-box;}
.item__detail>div,.item__rental>div{margin-bottom: 12px}

/**상품TAB - 아코디언**/
.detail--contents{position: relative; width: 100%; height: 800px; overflow: hidden;}
.detail--contents>img{width: 100%;}
.contents-more{position: relative; margin-bottom: 56px !important;}
.contents-more::before{content: ""; position: absolute; bottom: 48px; left: 0; width: 100%; height: 100px; background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));}
.contents-more__btn{width: 100%; height: 48px; margin: 0 auto; background: #FFF; border: 1px solid #999;}
.detail-box{position: relative; background-color: #EAEAEA; cursor: pointer; padding: 0 16px; width: 100%; line-height: 48px; margin-bottom: 12px; text-align: left; border: none; outline: none; transition: 0.4s;}
.acd--open{background-color: #CCC;}
.detail-panel{padding: 0; background-color: #FFF; display: none;overflow: hidden;}
.detail-box::after{content: '\02795'; position: absolute; top: 0; right: 16px; line-height: 48px; font-size: 1em; color: #707070; float: right;}
.acd--open:after {content: "\2796"; position: absolute; right: 16px;}

/**상품TAB - 디테일**/
.detail-spec>dt{padding: 16px 16px 8px; font-weight: bold; }
.detail-spec>dd{padding: 0 16px 16px; font-weight: 200; color: #707070; border-bottom: 1px solid #CCC;}
dd.license{display: flex; align-items: flex-start;}
dd.license>div{font-size: 0.9em;}
dd.license>div>p{padding: 4px 0; font-weight: bold; font-size: 1.1em; color: #333;}
dd.license>div>p>a{padding: 2px 3px; margin-left: 4px; font-size: 0.9em; font-weight: 200; color: #707070; border: 1px solid #CCC;}
.license-img{display: inline-block; width: 46px; height: 60px; margin-right: 8px;}
.detail-spec>dd:last-child{margin-bottom: 32px;}
.rental-doc{width: 100%; height: 40px; background: #FFF; border: 1px solid #245218; color: #245218;}
.rental-price{width: 100%; margin: 16px 0 32px}
.rental-price tr{height: 28px;}
.rental-price tr.border{border-bottom: 1px solid #CCC;}
.rental-price th{text-align: left; text-indent: 24px; font-size: 1.2em; font-weight: bold; color: #245217; margin-top: 12px;}
.rental-price td{text-align: right; font-size: 0.9em; color: #707070;}
.rental-price tr td:last-child{padding-right: 24px}
.rental-price .point-text{font-size: 1em; font-weight: bold; color: #245217;}
.detail-manual{width: 100%; height: 48px; padding: 0; background: #245217; color: #FFF; border: 0;}
.detail-manual>span{vertical-align: middle; line-height: 24px; font-size: 1.2em;}
.ic-download{display: inline-block; width: 24px; height: 24px; background: url(../images/ic-download.svg); background-size: contain; margin-right: 8px;}
.item-tagwrap{margin-top: 32px; display: flex; flex-wrap: wrap;}
.item-tagwrap>li{display: inline-block; margin-right: 8px;}
.item-tagwrap .tag{display: inline-block; padding: 4px 10px; background: #FFF; border: 1px solid #EAEAEA;}

/**추천TAB**/
.recommend-tab{padding: 16px;}
.recommend-tab h3{font-size: 1.2em; margin-bottom: 16px;}
.tab__list{display: flex; flex-wrap: wrap; margin-bottom: 16px;}
.tab__item{display: inline-block; width: 33%; line-height: 36px; text-align: center; border: 1px solid #CCC; border-left: 0; color: #999; font-size: 0.9em;}
.tab__item:first-child{border-left: 1px solid #CCC; box-sizing: border-box}
.tab__list>.current{background: #245217; border: 1px solid #245217; color: #FFF; font-weight: bold;}


/**추천TAB 스와이퍼**/
.recommend {position: relative; box-sizing: border-box;}
.wrapper{width: 100%;}
.product-list {display: flex; margin: 0; padding: 0; list-style: none; margin-right: 12px; }

.swiper-container {width: 100%;height: 100%;overflow: visible !important;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
.swiper-pagination-bullets{bottom: -20px !important}
.swiper-button-prev{right: 0 !important; color: #FFF !important; background: rgba(0,0,0,0.5) !important;}
.swiper-button-next{color: #FFF !important; background: rgba(0,0,0,0.5) !important;}

.item-flex{display: flex; justify-content: space-between;}
.item-left{width: 49%; margin-right: 2%; background: #F5F5F5}
.item-right{width: 49%; background: #F5F5F5}

.item-pic { position: relative; width: 100%; height: 0; overflow: hidden; padding-bottom: 100%; background: #f5f5f5; }
.item-pic img { position: absolute; width: 100%; height: 100%; }
.product-item .item-desc { background: #F5F5F5; margin: 11px 14px; }
.item-desc { margin: 8px 28px; text-align: center; padding: 0 !important;}
.item-desc li { overflow: hidden; text-overflow: ellipsis; line-height: 1; font-size: 10px; line-height: 15px; }
.item-desc li { font-size: 11px; color: #444; font-weight: 600; line-height: 18.5px; }
.item-desc li.item-price { margin: 5px 0 0; display: inline-block; white-space: normal; }
.item-desc li.item-brand { color: #707070; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.item-desc > li.item-price {margin-top:0; color: #707070;}
.item-desc li.item-name { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }