/*서브페이지 비주얼 공통 */
.sub-visual{background-attachment:fixed;position: relative; background-size: cover;background-position: center bottom;background-repeat: no-repeat;width:100%; height:44rem;overflow: auto;}
.sub-visual .black_box {display: flex;justify-content: center; align-items: center; padding:0 1rem; text-align: center;}
.sub-visual h1{font-size: 3rem;display: block;font-weight: bold;letter-spacing: 0rem;margin-bottom: 2rem;}
.sub-visual h1 img{width:10rem;}
.sub-visual p{font-size: 1.4rem;line-height: 2rem;margin-bottom: 2rem;}
.sub-visual.sign {background-image:url(../images/main_visual.jpg);}
.about_ode .sub-visual {background-image:url(../images/sub_visual_ode.jpg);}
.about_orfeo .sub-visual {background-image:url(../images/sub_visual_orfeo.jpg);}
.about_daab .sub-visual {background-image:url(../images/sub_visual_daab.jpg);}
.content_wrap .sub-visual {background-image:url(../images/content_visual.jpg);}

/*Login, Signup*/
.login_wrap {width:490px; margin: 9rem auto 3rem;}
.line_title{position: relative;width:95%; color:#808080; text-align: center;margin:3.8rem auto 1.8rem;}
.line_title::before{content: '';position: absolute;top: 50%;left:0;width: 30%;display: inline-block; border-bottom: 1px solid #D9D9D9;}
.line_title::after{content: '';position: absolute;top: 50%;right:0;width: 30%;display: inline-block; border-bottom: 1px solid #D9D9D9;}
.login_go{text-align: right;margin: 30px 10px;color: #616161;}
.login_go a{font-weight: bold;margin-left: 8px;}
.find_box a:first-child:after {content:''; width:1px;height:100%;border-right: 1px solid #ddd; margin:4px 20px;}

.signup_wrap {width:550px; margin: 7rem auto 3rem;}
.signup_wrap .musicList.col3>li {margin:8px 0}
.id_confirm{position: relative;}
.id_confirm button,
.btn-change{position: absolute; top:24px;right:30px;color: var(--navy);font-weight: bold;cursor: pointer;}
.infoList li{padding:10px 0;position: relative;}
.hintTxt{display: block;padding:10px 1.8rem;color:#9D9D9D}

input[type=checkbox].ic-psw {width: 1px;height: 1px;overflow: hidden;position: absolute;left: -9999px;}
input[type=checkbox].ic-psw+label {display: inline-block;width: 40px;height: 40px;background: url(https://icongr.am/clarity/eye.svg?size=28&color=666666) center no-repeat;position: absolute;right: 20px;top:15px;}
input[type=checkbox].ic-psw:checked+label {background: url(https://icongr.am/clarity/eye-hide.svg?size=28&color=666666) center no-repeat;}


@media screen and (max-width: 1023px) {
    .sub-visual h1 {font-size: 2.2rem;line-height: 3rem;margin-bottom: 1rem;}
    .sub-visual p {font-size: 1.2rem;}
    .sub-visual.sign {height: 26rem;}
    .login_wrap,
    .signup_wrap {width:90%;margin: 5rem auto 2rem;}
    .signup_wrap .musicList.col3>li {width:33%}
}

/* About */
.about_container{width:100%;padding:1rem; display: grid;gap: 2rem;grid-template-columns: repeat(2, 1fr);}
.about_container li:nth-child(2),
.about_container li:nth-child(3){padding: 2rem;color: var(--gray);line-height: 2rem;align-self: center;}
.about_container img{width:100%;object-fit: contain;}
.about_location {display: grid;grid-template-columns: 1.1fr 2fr;gap: 5rem;width:100%;padding:0 1rem;}
ul.about-list li{position: relative; padding:0 2.1rem 3rem;margin-bottom: 2rem;}
ul.about-list li::before{content: '';position: absolute;left: 0;top: 3px;width: 30px;height: 30px; background: url(../images/ico-locationO.svg) 0 center no-repeat;background-size:1.8rem;}
ul.about-list li h2 {font-size: 1.5rem;line-height: 2.4rem; font-weight: bold;}
ul.about-list li .collaps-content strong {display: block;margin-top: 2rem;}
ul.about-list li .btn_round{display: block;margin: 1rem 0;width:140px}
.about_location .collapsible {position: absolute;bottom:0px;right: 0;width:100%;text-align: right;padding-bottom: 10px; opacity: .5;font-size: .8rem;border-bottom: 1px solid #333;}
.about_location .collapsible:after, .about_location .collapsible.active:after {content: '자세히보기';width: 9rem;text-align: right;}
.about_location .collapsible.active:after {content: '접기';width: 80px;}
.about-map{background-color: #f4f4f4;height:40rem} 
.about-map ul.about-list {position: relative; background-color: #fff;width: 80%;margin: auto;padding:2rem 0 0 1rem}
.about-map ul.about-list .collaps-content {max-height: fit-content;}
.btn-close{position: absolute; right: 20px;top:20px; width: 30px; height: 30px;background-size: contain !important;}
.orfeoSwifer {margin:0 1rem 7rem !important;}
.orfeoSwifer .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 20rem;
  }
.orfeoSwifer .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .about_container{padding:0rem;gap: 0rem;grid-template-columns: repeat(1, 1fr);}
    .about_container li:nth-child(3){order: 3;}
    .about_location {padding:2rem 0;gap: 0rem;grid-template-columns: 1fr;}
    ul.about-list {order: 2;padding: 2rem;}
    .orfeoSwifer {margin:0 0rem 6rem !important;}
    .about-map{height:30rem} 
}


/* Contents */
.content_wrap .prod_title{margin:2rem 0 0;}
.sch {width: calc( 100% - 7.5rem );float:right;}
.sch input[type=search]{padding-left:3.75rem;background: url(https://icongr.am/clarity/search.svg?size=22&color=666666)  no-repeat 20px center;}
.sch h2 {font-size: 1rem;margin:2rem 0 0.6rem 1.5rem;}
.sch .chip-group {margin:0rem 0 0.7rem 1.5rem;}
.chip-group a {display: inline-block;border-radius: 20px; margin:0 10px 10px 0; border:1px solid var(--navy);padding:4px 1.25rem;box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);}
.tab {border-bottom: 1px solid #808080;padding-top: 4rem;}
.tab button {float: left;cursor: pointer;text-align: center; padding: 8px 3rem;transition: 0.3s;font-size: 1rem;color:#808080;background-color: #f4f4f4;}
.tab button:hover {background-color: #ddd;}
.tab button.active {background-color: var(--navy);color:#fff;}
.tabcontent {display: none;padding: 3rem 0 1rem;-webkit-animation: fadein 1s;animation: fadein 1s;}
.content-list .box {display: flex;justify-content: space-between;margin-bottom: 4rem;}
.content-list .box .left {width:55%;padding-right:6rem;}
.content-list .box img {width:100%;height: 100%;object-fit: cover;}
.content-list .box .summary {position: relative; width:45%; border-bottom: 1px solid #ddd;}
.content-list .box .summary>h2 {font-size: 1.4rem;line-height: 2rem;font-weight: bold;margin:1.2rem 0 0.625rem}
.content-list .box .summary>h3 {color:#808080;margin-bottom:2rem}
.content-list .box .summary>h4 {font-weight: bold;margin-bottom:1rem}
.content-list .box .summary>small {color:#808080;justify-content: space-between;}
.content-list .box .summary p{line-height: 2rem;color:#808080;margin:2rem 0 2rem;}
.content-list .box .summary p img{margin-bottom: 2rem;}
.content-list .box .summary>.option {position: absolute; bottom: 10px;right:6px;}
.option button, .option a{font-size:0;width: 28px;height: 30px;margin-left:20px; display: inline-block;}
.like{background: url(https://icongr.am/material/heart-outline.svg?size=30&color=666666)  no-repeat center;}
.like-check{background: url(https://icongr.am/material/heart.svg?size=30&color=FF0000)  no-repeat center;}
.share{background: url(https://icongr.am/clarity/share.svg?size=26&color=666666)  no-repeat center;}
.scrap{background: url(https://icongr.am/material/bookmark-outline.svg?size=30&color=666666)  no-repeat center;}
.scrap-check{background: url(https://icongr.am/material/bookmark.svg?size=30&color=666666)  no-repeat center;}

.content-list.detail .box .summary{width:100%;padding-bottom: 3rem;}
.content-list.detail .box .summary>.option {position: relative;text-align: right;right:0;bottom:0;margin: 2rem 0;}
.content-list.detail .box .summary .divide {display:flex;justify-content: space-between;}
.content-list.detail .box .summary .divide p img{height: 300px;}
.content-list.detail .box .summary .divide p{width:50%;padding-right: 1rem;}

@media screen and (max-width: 1023px) {
.sch {width: 100%;padding:2rem;float:none;}
.sch h2 {margin-left:0;}
.sch .chip-group {margin:0;}
.tab {padding-top: 0rem;margin: 0 2rem;}
.tab button {width:33.333%;padding: 8px 0.5rem;}
.product_wrap .tab button {width:unset; margin:10px 3px !important}
.content-list .box {display: block;margin-bottom: 4rem;}
.content-list .box .left {width:100%;padding-right:0rem;}
.content-list .box .summary {width:100%;padding:1rem 2rem 2rem}
.content-list .box .summary>h2 {margin-top:1rem}
.content-list.detail .box .summary .divide{display:block;}
.content-list.detail .box .summary .divide p{width:100%;padding-right: 0rem;}
.content-list.detail .box .summary .divide p img{height: auto;}
.content-list .box .summary p img {margin:1rem 0 0;}
.w90{width:90%;margin:auto;}
}

/* bookmark */
.bookmark {width:600px;margin: 3rem auto 2rem;}
.bookmark .content-list .box .left{width:40%;padding-right: 2rem;}
.bookmark .content-list .box .summary{width:60%;}
.bookmark .content-list .box .summary>h2 {font-size: 1.2rem;line-height: 1.6rem;margin: 1rem 0 0;}
.btn-change{color:#808080;font-weight: normal;text-decoration: underline;}
header.mo_header .sub_tit{margin-top: 4rem;}


@media screen and (max-width: 1023px) {
.bookmark {width:100%;margin-top: 6rem;}
.bookmark .content-list {width:90%;margin:auto;}
.bookmark .content-list .box{display: flex;}
.bookmark .content-list .box .left{padding-right: 1rem;}
.bookmark .content-list .box .summary{padding:0rem 0rem 1rem 0rem}
header.mo_header {position: fixed;z-index: 1;width: 100%;
    height: 60px;
    background: #fff;}
header.mo_header .pre-link {position: absolute; left:1rem;top:10px;
    width: 36px;
    height: 36px;
    background: url(https://icongr.am/feather/chevron-left.svg?size=18&color=333333) no-repeat center;
    background-repeat: no-repeat;
    background-size: 30px;}
header.mo_header .sub_tit{margin-top: 16px;}


}


